/html/src/main/scala/org/lrng/binding/AttributeFactories.scala linguist-generated
/html/src/main/scala/org/lrng/binding/ElementFactories.scala linguist-generated
/html/src/main/scala/org/lrng/binding/EntityBuilders.scala linguist-generated
